# Gitignore file

# Node.js dependencies
/node_modules/

# Logs
logs
logs/*
!logs/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# Build output
/dist/
/build/

# IDE-specific files
.idea/
*.iml

# WebStorm-specific files
/shelf/
/.idea/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
/coverage/

# Temporary files
*.tmp
tests/

# Miscellaneous
*.bak
*.orig
calc-api.JSON

# Generated Prisma client
/src/generated/prisma
